.grid{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: blanchedalmond;
}

.grid div{
    width: 100px;
    height: 100px;
    background-color: rgb(252, 199, 134);
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}